@import "variables.scss";

html {
  font-family: var(--app-font-family);
  font-size: 0.85vw;
  background-color: var(--app-theme-grey-light-400);
}

body {
  margin: 0;
}

.app {
  display: grid;
  min-height: 100vh;
}

*[class*="MuiCircularProgress-root"] {
  &.app__progress-bar {
    align-self: center;
    justify-self: center;
    grid-column: 1 / span 2;
  }
}
