.app-movie-details {
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: calc(100vh - 8 * var(--app-spacing-m));
  column-gap: var(--app-spacing-xs);
  font-size: 1.8rem;
  color: var(--app-theme-grey-light-25);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--app-theme-grey-light-900);
    opacity: 0.8;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}

.app-movie-details__404 {
  grid-column: 1 / span 2;
  align-self: center;
  justify-self: center;
  font-size: 2.8rem;
}

.app-movie-details__poster {
  background-repeat: no-repeat;
  background-size: contain;
}

.app-movie-detils__content {
  display: inline-grid;
  grid-template-rows: repeat(3, minmax(0, max-content));
  grid-template-columns: repeat(2, minmax(0, max-content));
  row-gap: var(--app-spacing-m);
  align-items: center;
}

.app-movie-details__title {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  font-size: 3.2rem;
  letter-spacing: var(--app-letter-spacing);
}

.app-movie-details__rate {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  color: var(--app-theme-data-viz-green);
  font-size: 2.8rem;
  height: 6rem;
  width: 6rem;
  border: 0.1rem solid var(--app-theme-grey-light-25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-movie-details__pre-description {
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
  color: var(--app-theme-data-viz-red);
  font-size: 2.8rem;

  &-item {
    margin-right: var(--app-spacing-xl);
  }
}

.app-movie-details__description {
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
}

.app-movie-details__icon-button {
  *[class*="MuiSvgIcon-root"] {
    font-size: 3.2rem;
    color: var(--app-theme-data-viz-red);
    transform: rotate(90deg);
  }
}
